extends shared_layout

block title 
  | Strona wycieczki

block styles
  link(rel='stylesheet' href='/styles/wycieczka_style.css')

block content
  - if (wycieczka != null)
    img.trip-image(src=wycieczka.image alt='image')
    h1
      | #{wycieczka.name}
    p
      | #{wycieczka.short_desc}
    h2
      | Opis
    p
      | #{wycieczka.desc}
    h2  Najwa&zdot;niejsze informacje 
    ul.most-important-info-list
      li  termin: wakacje 
      li  cena: #{wycieczka.price.toFixed(2)} zł; 
      li  transport we w&lstrok;asnym zakresie 
      li  zakwaterowanie we w&lstrok;asnym zakresie
      li  wy&zdot;ywienie: brak 
    h2  Program wycieczki 
    ol
      li  przyjazd 
      li  pobyt 
      li  odjazd 
    .bottom-buttons-container
      a.bottom-button.left-button(href='/glowna') Powr&oacute;t
      a.bottom-button.right-button(href='/formularz/' + wycieczka.name) Zarezerwuj
  - else
    h1
      | Wybrana wycieczka nie istnieje
    .bottom-buttons-container
      a.bottom-button.left-button(href='/glowna') Powr&oacute;t